[submodule "Cub3d"]
	path = Cub3d
	url = https://github.com/S0YKIM/Cub3d.git
[submodule "ft_irc"]
	path = ft_irc
	url = https://github.com/armadimon/ft_irc.git
[submodule "ft_transcendence/srcs/front_end"]
	path = ft_transcendence/srcs/front_end
	url = https://github.com/42trancendence/front_end.git
[submodule "ft_transcendence/srcs/back_end"]
	path = ft_transcendence/srcs/back_end
	url = https://github.com/42trancendence/back_end.git
